<body>
   <div class="container">
    <div class="textarea">
        <div class="text"> <p>Error 404 ;</p> <h2>You are not an authenicated user</h2><br><h3>(In other words, "I no sabi you")</h3><br> contact the Host if this is wrong
    </div>
    </div>
   </div> 
</body>

<style>

body{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
}

.textarea{
    width:600px;
    height: 400px;
    background: lightcoral;
    color: white;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.text{
    font-size: 20px;
    font-weight: 900;
   
    
}

.text p{
    font-size: 40px;
    font-weight: bolder;
}

.text h2{
    line-height: 1;
    padding: o;
}

</style>