<body>
    <div class="container">
     <div class="textarea">
         <div class="text"> <p>Thank You</p> <h2>For being a part of this</h2>
     </div>
     </div>
    </div> 
 </body>
 
 <style>
 
 body{
     display: flex;
     justify-content: center;
     align-items: center;
     line-height: 1.5;
 }
 
 .textarea{
     width:600px;
    
     background: lightcoral;
     color: white;
     justify-content: center;
     text-align: center;
     padding: 20px;
 }
 
 .text{
     font-size: 20px;
     font-weight: 900;
    
     
 }
 
 .text p{
     font-size: 40px;
     font-weight: bolder;
 }
 
 .text h2{
     line-height: 1;
     padding: o;
 }
 
 </style>